* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    min-height: 100vh;
    background: #0e0e0e;
    padding-top: 120px;    
    display: block;
    overflow-y: auto;       
}


.container {
    width: 90%;
    max-width: 1100px;
    min-height: 600px;
    height: auto;
    display: flex;
    border-radius: 14px;
    overflow: hidden;
    background: #111;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    margin: 0 auto;
    margin-bottom: 120px; 
}

/* LEFT SIDE */
.left {
    flex: 1.1;
    background: url("login1.jpg") center/cover no-repeat;
    position: relative;
}

.left .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.6);
}

.left .content {
    position: absolute;
    bottom: 60px;
    left: 40px;
    color: #fff;
}

.left h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.left p {
    max-width: 300px;
    opacity: 0.9;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 80%;
    max-width: 350px;
    color: #fff;
}

.form-box h2 {
    margin-bottom: 10px;
}

.small-text {
    margin-bottom: 25px;
    font-size: 14px;
    color: #ccc;
}

.small-text a {
    color: #7abfff;
}

label {
    font-size: 14px;
    margin-top: 12px;
    display: block;
    color: #ddd;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    background: #1f1f1f;
    border: 1px solid #333;
    border-radius: 6px;
    color: #fff;
}

input:focus {
    border-color: #7abfff;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #7abfff;
    border: none;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}

.btn-login:hover {
    background: #a4cfff;
}

.btn-google {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn-google img {
    width: 18px;
}

.forgot {
    margin-top: 18px;
    text-align: center;
}

.forgot a {
    color: #7abfff;
    font-size: 14px;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 45px;
    height: 45px;
    border: 3px solid #fff;
    border-radius: 7px;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff0fbf;
}




